doctype html
html
	head
		title Teste
		link(href="css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="css/main.css" rel="stylesheet" type="text/css")
	body
		.container
			.row
				.col-md-12.text-center.hidden sendo modificado, qualquer problema pode estar sendo causado pelas modificações
			.row.hidden
				.col-md-12.text-center
					label Player 1: 
					select#p1-sel
						option(value='') -
						option(value='0') Ryu
						option(value='1') Honda
						option(value='2') Blanka
						option(value='3') Guile
					label Player 2: 
					select#p2-sel
						option(value='') -
					label Nível:
					select#lvl-sel
						option(value='') -
						option(value='0') 0
						option(value='1') 1
						option(value='2') 2
						option(value='3') 3
						option(value='4') 4
						option(value='5') 5
						option(value='6') 6
						option(value='7') 7
			.row
				#error.col-md-12.text-center.text-danger
			.row
				.col-md-12
					br
					img#image(width='512', height='448')
					br
					br
			.row
				.col-md-12
					h2#result.hidden
			.row
				.col-md-3
				.col-md-3
					button#start-experiment.btn.btn-primary.btn-block Start experiment
				.col-md-3
					button#stop-experiment.btn.btn-danger.btn-block Stop experiment
				.col-md-3
		script.
			var id   = '#{id}';
			var port = #{port};
		script(src="js/THREEx.KeyboardState.js")
		script(src="js/dat.gui.min.js")
		script(src="js/settings.js")
		script(src="js/game.js")
		script(src="js/client.js")